<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SMART-TRACE THESIS</title>
    <style>
        body {
            background-color: #007BFF; /* Set the background color (UM color) */
            color: white; /* Set text color to white */
            text-align: center; /* Center-align text */
        }
        .um-logo {
            margin: 0 auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <img src="RFID_STICKER_LOGO.jpg" alt="UM Logo" class="um-logo">
    <h1>Welcome to SMART-TRACE THESIS!</h1>
    <p>
        Smart Trace is an innovative solution that revolutionizes the way we track and manage data.
        It provides a seamless experience for data management and analysis.
    </p>
    <form action="http://localhost/rfid_ips/login.php">
        <button type="submit">Click here to start</button>
    </form>
</body>
</html>
